<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>多人聊天室</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>

</head>

<body background="img/bg.png">
	
		<center>
			<h2 ><font color="white">What's your nickname?</font></h2>
			</br>
		</center>
		<textarea class=" form-control inputField"   id="nickname" placeholder="请输入消息"></textarea>
		<button type="button" class="btn btn-success ck button" id="submit">Biu</button></br>
 
	<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">可消失的弹出框</a>
	<!-- <footer class="rights">Designed by Evercx</footer> -->
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/jquery1.9.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>