
.msgbackground{
	background:#CCC; 
	border-radius:10px;/*圆角*/
	padding:20px; 
	height:400px;
    width:600px;
    overflow:auto;
    position: relative;
	left: 210px;
}

.systemmsg{
	background:#CCC; 
	border-radius:10px;/*圆角*/
	padding:10px; 
	height:300px;
    width:250px;
    overflow:auto;
	position: absolute;
	left: 850px;
	top: 83px;
}

.usrlist{
	position: absolute;
	left: 850px;
	top: 405px;
	width: 250px;
}

.others{
	position: relative;	/*相对定位*/
	left: 50px;
	border-radius:10px;/*圆角*/
	padding:10px 0em 1ex 2.5%; /*内边距*/
    width:250px;
    margin : 0px 0px 10px 0px;/*外边距*/
}

.me{
	position: relative;
	left: 250px;
	border-radius:10px;/*圆角*/
	padding:10px 0em 1ex 2.5%;
    width:250px;
    margin : 0px 0px 10px 0px;
}

.button{
	width:70px;
	position: relative;
	left: 740px;
	bottom:76px;
	margin : 0px 0px 10px 0px;/*外边距*/
}

.inputField{
    position: relative;
	left: 210px;
	width:500px;
}

.rights{
	color:white;
	position: absolute;
	left: 600px;
}