.msgbackground{
	background:#CCC; 
	border-radius:10px;/*圆角*/
	padding:20px; 
	height:508px;
	overflow: auto;
}

.inputbg{
	padding:5px;
}

.inputField{
	background:#CCC; 
	resize:none;
	position: relative;
	bottom:2px;
	width:85%;
}
.button{
	width:13%;
	height:42px;
	position: relative;
	left: 87%;
	top:-96px;
	margin : 0px 0px 10px 0px;
}

.systemmsg{
	background:#CCC; 
	border-radius:5px;/*圆角*/
	padding:10px;
	width: 100%;
	margin-bottom: 15px;
	overflow: auto;
}

.usrlist{
	background:#CCC; 
	border-radius:5px;/*圆角*/
	padding:10px;
	width: 100%; 
	overflow: auto;
}




